.todos-filter {
    color: rgb(224, 201, 201);
    padding: 0 1rem;
}

.todos-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

.todos-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.todos-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    background: linear-gradient(
    90deg,
    rgb(5, 53, 80, 1) 0%,
    rgb(35, 89, 238, 1) 100%
    );
    color: bisque;
}